*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(185, 189, 181);
    .titulo{
        display: flex;
        justify-content: center;
        padding: 20px;
        font-family: 'Caveat', cursive;
    }
    .redes{
        display: flex;
        list-style: none;
        justify-content: right;
    }
}
nav{
    width: 80%;
    background-color: rgb(185, 189, 181);
    margin: 10px auto;
    .menu1 {
        list-style-type: none;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        .nav-item{
            padding: 10px;
            margin: 10px;
            &:hover{
                background-color: blueviolet;
                border-radius: 15%;
            }
            a{
                text-decoration: none;
                color: azure;
                &:hover{
                    color: blue;
                }
            }
        }
    }
}